$background-color: #202020;
$navbar-transparent: rgba(0, 0, 0, 0.09);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#app,
#app > div,
#root {
  background-color: $background-color;
  color: white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #d3d3d3 !important;
}

.navbar {
  background-color: $navbar-transparent;
  backdrop-filter: blur(10px);
}

@media (max-width: 576px) {
  .github-nav {
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .mobile-container {
    height: 60vh !important;
  }

  .contact-icon {
    font-size: 5vh !important;
    margin: 4vw 4vw !important;
  }
}

@media (max-width: 845px) {
  .contact-icon {
    font-size: 10vw;
    margin: 0 2vw;
  }
}
